@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Slackey', sans-serif;
}

body {
  padding-top: 24px;
  background: url(../images/sky.jpg) top center / cover no-repeat;
}

/* HEADER */
header > h1 {
  padding: 24px 36px;
  border-radius: 18px;
  background-color: gold;
}

/* GENERAL CLASSES */
.main-center {
  display: flex;
  justify-content: center;
}

.cross-center {
  display: flex;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
