@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Slackey', sans-serif;
}

.background {
  background: url(../images/sky.jpg) top center / cover no-repeat;
}
