@import url('https://fonts.cdnfonts.com/css/wicked-mouse');
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Chewy', sans-serif;
}

body {
  height: 100vh;
  flex-direction: column;
  gap: 64px;
  padding-top: 24px;
  background: url(../images/sky.jpg) top center / cover no-repeat;
}

/* HEADER */
header > h1 {
  font-family: 'Wicked Mouse', sans-serif;
  padding: 24px 36px;
  border-radius: 18px;
  background-color: gold;
}

/* MAIN */
main {
  display: flex;
  flex-direction: column;
  gap: 48px;
  text-align: center;
}

.cards-container {
  display: flex;
}

.card {
  width: 300px;
  border-radius: 40px;
  background: linear-gradient(to bottom, hsl(35, 32%, 84%), #8c593b);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
}

.card > h2 {
  font-size: 28px;
  padding: 8px 0 4px 0;
  border-bottom: 2px solid #000;
  background: #a7c0a1;
}

figure {
  margin: 12px 0;
  flex-direction: column;
  gap: 16px;
}

.circle-container {
  padding: 30px;
  width: 225px;
  height: 225px;
  border: 4px solid black;
  border-radius: 50%;
}

img {
  max-width: 100%;
}

figcaption {
  font-size: 20px;
  margin-top: -8px;
}

.result {
  margin: 6.25% 48px 0 48px;
}

.result > h2 {
  font-size: 28px;
}

.result > p {
  font-size: 24px;
}

/* SELECTION */
.selection {
  font-size: 28px;
}

.button-container {
  margin-top: 6px;
  gap: 12px;
}

.move-button {
  height: 100px;
  width: 100px;
  padding: 10px;
  border: 3px solid black;
  border-radius: 50%;
  transition: 0.05s;
}

.move-button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.move-button > img {
  max-height: 100%;
  transition: 0.05s;
}

/* FOOTER */
footer {
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  height: 128px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  margin-top: auto;
}

footer ul {
  display: flex;
  list-style: none;
}

.credit li + li::before {
  content: '\2022'; /* Bullet point */
  margin: 0 6px;
}

.logos li + li {
  margin-left: 6px;
}

footer a {
  color: inherit;
  text-decoration: none;
  transition: 0.1s;
}

footer a:hover {
  color: #6f6f6f;
}

/* GENERAL CLASSES */
.main-center {
  display: flex;
  justify-content: center;
}

.cross-center {
  display: flex;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
